.clear_button{
    height: 30px;
    width: 120px;
    border-radius: 5px;
    border:none;
    font-size: 13px;
    display: flex;
    justify-content: space-around;
    padding-top: 0px;
    font-family: var(--font-family-main);
    letter-spacing: 0.1px;
    align-items: center;
    margin-top: 10px;
    background: var(--white);
}

@media screen and (min-width:794px) {
    .clear_button{
        margin-top: 0px;
    }
}