.container_card{
    background-color: var(--white);
    margin: 10px auto;
    border-radius: 20px;
    font-family: var(--font-family-main);
}
.posterdiv{
    text-align: center;
}
.poster{
    text-align: center;
    max-width: 80%;
    max-height: 318px;
    min-height: 250px;
    position: relative;
    padding-top: 10px;
}
.year{
    font-size: 12px;
    padding-left: 15px;
    font-family: var(--font-family-main);
}
.title_card{
    font-size: 15px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: var(--font-family-main);
}
.type{
    font-size: 12px;
    padding-left: 15px;
    font-family: var(--font-family-main);
}
.btndiv{
    font-size: 12px;
    padding: 10px 15px;
    font-family: var(--font-family-main);
}
.btn_card{
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
    padding: 8px;
    border-radius: 5px;
    background-color: var(--purple);
    font-weight: 600;
    color: var(--white);
}