.title{
    padding-top: 20px;
    font-family: var(--font-family-second);
    color:var(--purple);
    font-size: 40px;
    line-height: 50px;
}

.subtitle{
    padding-top: 30px;
    font-family: var(--font-family-second);
    font-size: 12px;
    font-weight: 100;
    color: #64898E;
    line-height: 20px;
}

@media screen and (min-width:764px) {
    .subtitle{
        padding-top: 70px;
    }
}