.navbar-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    justify-self: center;
}
.logo{
    grid-area: 1 / 1 / 2 / 2;
    padding: 5px;
}
.auths{
    grid-area: 1 / 3 / 2 / 4;
}
.search-fild{
    grid-area: 2 / 1 / 3 / 4;
}
.link_back_to_home{
    text-decoration: none;
    color: var(--white);
    background: var(--bg-gradient);
    padding: 13px;
    border-radius: 10px;
    font-family: var(--font-family-main);
    font-size: 12px;
    transition-delay: 500ms;
    &:hover{
        transition-delay: 500ms;
        background: linear-gradient(236deg, rgba(17, 17, 85, 0.507) 0%, rgba(17, 17, 85, 0.582) 56%, rgba(17, 17, 85, 0.548) 64%, rgba(17, 17, 85, 0.336) 100%);
    }
}

@media screen and (min-width:764px) {
    .navbar-container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left: 30px;

    }
    .logo{
        grid-area: 1 / 1 / 2 / 3;
        padding: 5px;
    }
    .auths{
        grid-area: 1 / 11 / 2 / 13;
        padding: 5px;
    }
    .search-fild{
        grid-area: 1 / 4 / 2 / 9;
        padding: 5px;
    }
}

@media screen and (min-width:764px) {
    .search-fild{
        grid-area: 1 / 4 / 2 / 9;
        padding: 5px;
        margin-left: -100px;
    }
}