.resultcamp{
    margin-top: 50px;
}
.no_result{
    text-align: center;
    padding-top: 20px;
    font-family: var(--font-family-main);
    background-color: transparent;
    width: 100%;
    height: 400px;
}